{% extends "base.html" %}
{% block content %}

<div class="product-page">

<!-- LEFT : Product Image -->

<div class="product-image-box">

<img src="{{ product.image.url }}" alt="{{ product.name }}">

</div>


<!-- RIGHT : Product Info -->

<div class="product-info">

<h1>{{ product.name }}</h1>

<div class="rating">
⭐ {{ product.average_rating|floatformat:1 }}
({{ reviews|length }} reviews)
</div>

<h2 class="price">₹{{ product.price }}</h2>

<p class="product-desc">
{{ product.description }}
</p>


<h3>Select Weight</h3>

<div class="weight-options">

<button onclick="changePrice(499)">500g</button>
<button onclick="changePrice(899)">1kg</button>
<button onclick="changePrice(1699)">2kg</button>

</div>

<br>

<a href="{% url 'add_to_cart' product.id %}">
<button class="buy-btn">Add To Cart</button>
</a>

</div>

</div>

<hr style="margin:40px 0;">


<h2>Customer Reviews</h2>

{% for review in reviews %}

<div class="review-card">

    <strong>{{ review.user.username }}</strong>

    <div>
        Rating:
        {% for i in "12345" %}
            {% if forloop.counter <= review.rating %}
                ⭐
            {% endif %}
        {% endfor %}
    </div>

    <p>{{ review.comment }}</p>

</div>

{% empty %}

<p>No reviews yet</p>

{% endfor %}


{% if user.is_authenticated %}

<h3>Write a Review</h3>

<form method="POST" action="{% url 'add_review' product.id %}">
{% csrf_token %}

<label>Rating</label>
<select name="rating">
<option value="5">⭐⭐⭐⭐⭐</option>
<option value="4">⭐⭐⭐⭐</option>
<option value="3">⭐⭐⭐</option>
<option value="2">⭐⭐</option>
<option value="1">⭐</option>
</select>

<br><br>

<textarea name="comment" placeholder="Write your review"></textarea>

<br><br>

<button type="submit">Submit Review</button>

</form>

{% else %}

<p>Please login to write a review.</p>

{% endif %}

{% endblock %}