{% extends 'base.html' %}
{% block content %}

<h1>Sweet Hub 🍪</h1>

<!-- Category Section -->
<div class="items-container">

<a href="{% url 'category_products' 'cake' %}" class="item">
<img src="/static/images/cake_category.jpg">
<h3>Cakes</h3>
</a>

<a href="{% url 'category_products' 'cookie' %}" class="item">
<img src="/static/images/cookie_category.jpg">
<h3>Cookies</h3>
</a>

<a href="{% url 'category_products' 'icecream' %}" class="item">
<img src="/static/images/icecream_category.jpg">
<h3>Ice Cream</h3>
</a>

<a href="{% url 'category_products' 'sweet' %}" class="item">
<img src="/static/images/sweet_category.jpg">
<h3>Sweets</h3>
</a>

</div>


<!-- Product Section -->
{% if products %}


<div class="items-container">

{% for product in products %}



{% endfor %}

</div>

{% endif %}

{% endblock %}