{% extends 'base.html' %}
{% block content %}

<div class="address-list-wrapper">

<h2>Your Addresses</h2>

<div class="address-grid">

    <a href="{% url 'add_address' %}" class="add-address-card">
        + Add Address
    </a>

    {% for addr in addresses %}
    <div class="address-card">

        <b>{{ addr.full_name }}</b>

        <p>{{ addr.house }}, {{ addr.area }}</p>
        <p>{{ addr.city }} - {{ addr.pincode }}</p>
        <p>{{ addr.state }}</p>
        <p>📞 {{ addr.phone }}</p>

    </div>
    {% endfor %}

</div>

</div>

{% endblock %}