{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- HERO -->
<section class="hero">
    <div class="hero-content">
        <h1>Fresh Cakes<br>Made With Love</h1>

        <p>
            Delicious homemade cakes, cookies, and sweets
            delivered to your doorstep!
        </p>

        <a href="{% url 'sweet_hub' %}" class="order-btn">
            Order Now
        </a>
    </div>
</section>

<!-- MAIN PRODUCTS -->
<h2 class="section-title">Our Cakes</h2>

<div class="product-grid">
    {% for product in famous_items %}
        {% include "components/product_card.html" %}
    {% endfor %}
</div>

{% endblock %}